<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xsi:schemaLocation="http://www.springframework.org/schema/mvc 
		http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
		http://www.springframework.org/schema/beans 
		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop     
		http://www.springframework.org/schema/aop/spring-aop-3.2.xsd ">
	<!-- 自动扫描controller包下的所有类，使其认为spring mvc的控制器 -->
	<context:component-scan base-package="com.skl.cloud.controller" />

	<aop:config proxy-target-class="true"></aop:config>
	<bean class=" org.apache.shiro.spring.security.interceptor.AuthorizationAttributeSourceAdvisor">
		<property name="securityManager" ref="securityManager" />
	</bean>

	<!-- 避免IE执行AJAX时,返回JSON出现下载文件 -->
	<bean id="mappingJacksonHttpMessageConverter"
		class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
		<property name="supportedMediaTypes">
			<list>
				<value>text/html;charset=UTF-8</value>
			</list>
		</property>
	</bean>
	<mvc:default-servlet-handler />
	<!-- 对模型视图名称的解析，即在模型视图名称添加前后缀 -->
	<bean id="viewResolver"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />
		<property name="prefix" value="/"></property>
		<property name="suffix" value=".html"></property>
	</bean>

	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding">
			<value>UTF-8</value>
		</property>
		<property name="maxUploadSize">
			<value>32505856</value><!-- 上传文件大小限制为31M，31*1024*1024 -->
		</property>
		<property name="maxInMemorySize">
			<value>4096</value>
		</property>
	</bean>



	<!-- Degist认证结束 -->

	<!-- 解决多种返回格式问题 -->
	<bean
		class="com.skl.cloud.foundation.mvc.view.PathExtensionContentNegotiatingViewResolver">
		<property name="pathExtensionViews">
			<map>
				<entry key="json">
					<bean class="com.skl.cloud.foundation.mvc.view.FrontPathExtensionView" />
				</entry>
				<entry key="app">
					<bean class="com.skl.cloud.foundation.mvc.view.AppPathExtensionView">
						<property name="jaxb2Marshaller" ref="jaxb2Marshaller" />
					</bean>
				</entry>
				<entry key="ipc">
					<bean class="com.skl.cloud.foundation.mvc.view.IPCPathExtensionView">
						<property name="jaxb2Marshaller" ref="jaxb2Marshaller" />
					</bean>
				</entry>
				<entry key="sub">
					<bean class="com.skl.cloud.foundation.mvc.view.SubPathExtensionView">
						<property name="jaxb2Marshaller" ref="jaxb2Marshaller" />
					</bean>
				</entry>
			</map>
		</property>
	</bean>

	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean class="org.springframework.http.converter.StringHttpMessageConverter">
				<property name="supportedMediaTypes">
					<list>
						<value>application/xml;charset=UTF-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
		<mvc:argument-resolvers>
			<bean
				class="com.skl.cloud.foundation.mvc.method.SKLModelMapMethodArgumentResolver" />
			<bean class="com.skl.cloud.foundation.mvc.method.SKLMethodArgumentResolver">
				<property name="pathExtensionMapping">
					<map>
						<entry key="json" value="json" />
						<entry key="app" value="xml" />
						<entry key="ipc" value="xml" />
						<entry key="sub" value="xml" />
					</map>
				</property>
			</bean>
		</mvc:argument-resolvers>
	</mvc:annotation-driven>

	<bean id="validator"
		class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean" />
	<bean
		class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor">
		<property name="validator" ref="validator" />
	</bean>
</beans>